<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head.ejs') %>    
    <body>
        <h1> <%= title %> </h1>
        <%- include('partials/header') %>

        <% if(typeof message !== 'undefined') { %>
            <%= message %> 
        <% } %>

        <form action="/edit/<%= user._id %> " method="POST">
            <div>
                <label for="name">Nome</label>
                <input type="text" name="name" placeholder="Digite o seu nome" value="<%= user.name %>">
            </div>
            <div>
                <label for="age">Idade</label>
                <input type="number" name="age" placeholder="Digite o seu idade" value="<%= user.age %>">
            </div>
            <div>
                <label for="email">E-mail</label>
                <input type="email" name="email" placeholder="Digite o seu e-mail" value="<%= user.email %>">
            </div>
            <button type="submit">Editar</button>
        </form>
        
        <%- include('partials/foot.ejs') %>
    </body>

</html>